<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>2019 Tidy app screenshot</string>
	<key>backupsEnabled</key>
	<true/>
	<key>cacheFolderName</key>
	<string>Tidy app preview Cache.fcpcache</string>
	<key>cacheLocation</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnAIA
	AAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAGNocmlzAAAADwAAAAEBAABGaW5hbCBDdXQg
	Q2FjaGUADAAAAAEGAAAEAAAAFAAAACQAAAAIAAAABAMAAKNnBgAAAAAACAAAAAQDAADZ
	rQkAAAAAAAgAAAAEAwAAQOkIAQEAAAAMAAAAAQYAAFAAAABgAAAAcAAAAAgAAAAABAAA
	QcC+Exx2CcMYAAAAAQIAAAIAAAAAAAAADwEAAAAAAAAAAQAAAAAAAAgAAAAEAwAAAQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAACgj9XXAAAACAAAAAAEAABBvoNiggAAACQAAAABAQAAMTZDNEUxOEUt
	MDdERS0zNDRGLThBNkUtN0IwOEIxNzNERDcyGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAA0AAAABAQAAcHVibGljLmZvbGRlcgAA
	ABEAAAABAQAATlNVUkxWb2x1bWVVUkxLZXkAAAAcAAAAAQEAAC9Vc2Vycy9jaHJpcy9G
	aW5hbCBDdXQgQ2FjaGW2AAAAAQIAADY3NjhhYzk4MGEwYWJhMWU0MjM4NTZiODMzYjEx
	NGQyNDYzOWYwMTA7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAw
	MDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
	NTswMDAwMDAwMTAxMDhlOTQwOzAxOy91c2Vycy9jaHJpcy9maW5hbCBjdXQgY2FjaGUA
	AAD8AAAA/v///wEAAAAAAAAAFAAAAAQQAAA8AAAAAAAAAAUQAACAAAAAAAAAABAQAACk
	AAAAAAAAAEAQAACUAAAAAAAAAAIgAABwAQAAAAAAAAUgAADgAAAAAAAAABAgAADwAAAA
	AAAAABEgAAAkAQAAAAAAABIgAAAEAQAAAAAAABMgAAAUAQAAAAAAACAgAABQAQAAAAAA
	ADAgAAB8AQAAAAAAAAHAAADEAAAAAAAAABHAAAAUAAAAAAAAABLAAADUAAAAAAAAABfw
	AAAkAAAAAAAAAIDwAADcAQAAAAAAAAD/AAC4AQAAAAAAAAQADwCEAQAAAAAAAJwBAIDg
	AAAAAAAAAA==
	</data>
	<key>libraryID</key>
	<string>42DC1B3D-CA45-4186-8C38-116B41A6FAD9</string>
</dict>
</plist>
